<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are here</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

  </head>
  <body>

    <main>
      <%= yield %>

    </main>

    <div class="background">
    <!-- i wonder how this will affect accessability... at bottom because its not really content???-->
    <img src="images/typography_Scrabble.jpg" alt="">
    </div>

  </body>

</html>
