<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinatra Scrabble</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

  </head>
  <body>
    <header class="tile-style">
      <h1><a href="/">Sinatra Scrabble</a></h1>
      <a href="/score" class="nav-links">Score One Word</a>
      <a href="/score-many" class="nav-links">Score Many Words</a>
    </header>

    <main class="tile-style">
      <div class="h-center v-center">

      <%= yield %>

      </div>
    </main>

    <div class="background">
      <img src="images/typography_Scrabble.jpg" alt="">
    </div>

    <footer>
      <p>
        This site is in no way affiliated with Scrabble and provides no guarantees to proper scoring!
      </p>
    </footer>

  </body>

</html>
