<h2>Score One Word</h2>

<%# display word that user scored. %>
<%= erb(:word_scoring) %>

<%# prompt user for word to score %>
<% if !@user_input %>
  <form action="" method="post" accept-charset="utf-8">

    <label for="score_word">Word
    <input type="text" name="words[]" value="" maxlength=7  id="score_word" class="labeled"></label>

    <input type="submit" value="Submit" class="scrabble-button">
  </form>
<% end %>

<a href="/score">Start Over</a>
