<h2><a href="/score-many">Score Many Words</a></h2>

<%# display scored used words %>
<% if @user_words %>
<div class="params_post">
  <% scores = @user_words.score_many %>
  <% words = params["words"] %>
  <% words.zip(scores).each do |word , score| %>
    <% next if word.empty? %>
    <%= "#{word.upcase} has a score of #{score}." %>
  <% end %>
</div>
<% end %>

<%# display prompt for user word input %>
<% if @quantity && !@user_words %>
<form action="" method="post" accept-charset="utf-8">

  <% @quantity.times do |word_input| %>
    <lable class="new-line">Word<input type="text" name="words[]" maxlength=7 value=""></b></lable>
  <% end %>
  <input type="submit" value="Score">
</form>
<% end %>

<%# prompt user for number of words to score %>
<% if !@user_words && !@quantity %>
  <form action="" method="post">
    Number of words to score:
    <input type="number" name="quantity" min="1">
    <input type="submit" value="Go!">
  </form>
<% end %>
