<h1>Coming soon!</h1>

<% if @quantity %>
<form action="" method="post" accept-charset="utf-8">

  <% @quantity.times do |word_input| %>
    <lable>Word <input type="text" name="words[]" maxlength=7 value=""></b></lable>
    <!-- br becasue i wanted it to be at the top -->
  <% end %>
  <!-- name is what the code uses to lable to field. for and id should always be equal -->
  <input type="submit" value="Score">
</form>
<% end %>



<% if @user_words %>
<!-- why does this make it know we are post? is it the same as saying if @user_word exists???? -->
<div class="params_post">
  <% scores = @user_words.score_many %>
  <% words = params["words"] %>
  <% words.zip(scores).each do |word , score| %>
    <% next if word.empty? %>
    <%= "#{word} #{score}" %>
  <% end %>
</div>
<% end %>

<div class="params">
  <%= params %>
</div>

<form action="" method="post">
  Number of words:
  <input type="number" name="quantity" min="1">
  <input type="submit">
</form>
