
<h2>Score Many Words</h2>

<%# display scored used words %>
<%= erb(:word_scoring) %>

<%# display prompt for user word input %>
<% if @quantity && !@user_words %>
<form action="" method="post" accept-charset="utf-8">

  <fieldset>
    <legend>Game Options</legend>
      <label><input type="radio" name="bonus" value="true" checked="checked">7-letter Bonus</label>
      <label><input type="radio" name="bonus" value="false">No Bonus</label>
  </fieldset>

  <% @quantity.times do |word_input| %>
    <label class="new-line">Word<input type="text" name="words[]" maxlength=7 value="" class="labeled"></b></label>
  <% end %>
  <input type="submit" value="Score" class="scrabble-button">
</form>
<% end %>

<%# prompt user for number of words to score %>
<% if !@user_words && !@quantity %>
  <form action="" method="post">
    <label>Number of Words: <input type="number"name="quantity" min="1"></label>
    <input type="submit" value="Go!"class="scrabble-button">
  </form>
<% end %>

<a href="/score-many">Start Over</a>
