
<h2>Score Many Words</h2>

<%# display scored used words %>
<%= erb(:word_scoring) %>

<%# display prompt for user word input %>
<% if @quantity && !@user_words %>
<form action="" method="post" accept-charset="utf-8">

  <% @quantity.times do |word_input| %>
    <label class="new-line">Word<input type="text" name="words[]" maxlength=7 value="" class="labeled"></b></label>
  <% end %>
  <input type="submit" value="Score" class="scrabble-button">
</form>
<% end %>

<%# prompt user for number of words to score %>
<% if !@user_words && !@quantity %>
  <form action="" method="post">
    Number of words to score:
    <input type="number" name="quantity" min="1">
    <input type="submit" value="Go!" class="scrabble-button">
  </form>
<% end %>

<a href="/score-many">Start Over</a>
