<% if @user_words %>
  <% scores = @user_words.score_many %>
  <% each_letter_points = @user_words.points_many_words %>

  <% words = params["words"] %>
  <% words.zip(scores).each do |word , score| %>
    <% next if word.empty? %>
      <%= "#{word.upcase} has a score of #{score}." %>
        <ul>
          <% each_letter_points[word].each do |letter, points| %>
            <li class="letter-tile"><span class="letter"><%= letter.upcase %></span><span class="points"><%= points %></span></li>
          <% end %>
            <li><%= "50 point 7-letter bonus!" if word.length == 7 %></li>
        </ul>
  <% end %>
<% end %>
