html {
  /* size | family */
  font: 16px "News Gothic Standard.", sans-serif;
  color: rgba(11, 11, 11, 1);
  margin: 0;
}

h1 {
  /*browser need 'reset'*/
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: .5rem;
  color: rgba(11, 11, 11, 1);
}

main {
  position:fixed;
  bottom: 10%;
  height: 50%;
  width: 100%;
}

.tile-style {
  background: rgb(216, 187, 147);
  /*for browsers that do not support gradients*/
  background: linear-gradient(to bottom right, rgba(225, 205, 168, 1), rgba(209, 180, 124, .8));
  display: inline-block;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0.1rem .1rem 0.2rem 0.1rem rgba(255, 253, 230, .8), 0.25rem .25rem 0.1rem 0.25rem rgba(109, 97, 83, 1), .5rem .5rem 0.1rem 0.5rem rgba(11, 11, 11, 1);
  text-align: center;
}

header.tile-style {
  display:block;
  padding: .5rem;
  position:fixed;
  top:-6rem;
  opacity:.76;
  transition:all 1s ease;
  text-align: center;
}

header.tile-style:hover {
  opacity:1;
  top:0rem;
  transition:all 1s ease;
}

div.tile-style {
  float: right;
  padding: 3rem;
  margin-right: 3rem
}

footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 3%;
}

footer > p {
  color: rgba(225,205, 168, .76);
}

.nav-links {
  display: inline-block;
  float: left;
}

label.new-line {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

/*background styling*/

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
